/*Estilos generales y reseteos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

/*Header*/


.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171118;
    padding: 1rem;
    background-size: cover;
}

ul {
    display: flex;
    gap: 5rem;
}

/*LOGO falta la altura del logotipo (creo) */
.logotipo {
    width: 6rem;
}

nav ul li a {
    color: #f0f8ff;

}


/*Hasta aca terminan los estilos del header*/

/*Main general*/
.main {
    background-color: #250E2A;
    color: #ede0f7;
    min-height: 50rem;
}


/*Main Inicio*/
.inicio{
background-image: url(./img/backgroundviolet.jpg);
background-repeat: no-repeat;
background-size:cover;
}

/*Main box*/
.sectionmainicio{
     display: flex;
    flex-direction: column;
    max-width: 25rem;
    padding: 15rem 0 0 10rem;
}

/*Main trabajo*/
.sectionmaintrabajo{
    display: flex;
}

/*Main sobre mi*/
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 2 / 1 / 4 / 3; }
.div3 { grid-area: 1 / 3 / 3 / 4; }
.div4 { grid-area: 3 / 3 / 4 / 4; }


/*Footer*/
footer {
    background-color:#171118;
    color: #fff;
    text-align: end;
    padding:2rem;
    position: relative;
    bottom: 20;
    width: 100%;
     height: 15vh;}


/*Hasta aca terminan los estilos del footer*/
