/*Estilos generales y reseteos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

/*Header*/
.header {
    background-size: cover;
    height: 100vh;
    padding: 5vh;
    margin: 0;
    padding: 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171118;
    padding: 1rem;
    background-size: cover;
}

ul {
    display: flex;
    gap: 5rem;
}

/* falta la altura del logotipo (creo) */
.logotipo {
    width: 6rem;
}

nav ul li a {
    color: #f0f8ff;

}

/*Main inicio*/

.main-inicio {
    background-image: url(./img/backgroundviolet.jpg);
    background-size: cover;
    height: 100vh;
    padding: 5vh;
    margin: 0;
    padding: 0;
}

.portada {
    justify-content: space-between;
    padding: 5rem;

}
.subtitulo,
h1,
a {
    color: #f0f8ff;
    margin: 2vh;
}

/*Estilos Button*/
.button-inicio {
    width: 10rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: #ede0f7;
    align-content: end;
} 

/*Main*/
main {
    background-color: #250E2A;
    color: #ede0f7
}



/*Pag-Trabajos*/
.card-trabajos {
    width: 30rem;
    background-color: #f3d8afe1;
    border-radius: 5%;
    padding: 2vh;
    margin: 5vh;
    color: #171118;
}

.card-trabajos img {
    width: 100%;
    padding: 1vh;

}

 /*Botón trabajo*/
.boton-trabajo {
    width: 10rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: #ede0f7;
    align-content: end;
}


/*Footer*/
footer {
    background-color:#171118;
    color: #fff;
    text-align: end;
    padding:2rem;
    position: relative;
    bottom: 0;
    width: 100%;
     height: 15vh;}